{% extends 'base.html' %}
{% block header_left %}
<button class="btn" id="btn-settings">
    Settings
</button>
{% endblock header_left %}

{% block header_mid %}
<h1><i class="fas fa-home"></i></h1>
{% endblock header_mid %}
 
{% block header_right %}
<div class="dropdown">
    <button class="btn" id="btn-race">Start Race <i class="fas fa-angle-down"></i></button>
    <div id="race-dropdown" class="dropdown-content">
        <a href="{{ url_for('race.index') }}">Race</a>
        <a href="#">Timetrail</a>
        <a href="#">Race (round based)</a>
        <a href="#">Qualifying</a>
        <a href="#">Championship</a>
    </div>
</div>
{% endblock header_right %}


{% block content %}
{% endblock content %}

{% block footer %}
    <p>Beta 2018.04</p>
{% endblock footer %}

{% block scriptblock %}
<script>
    document.getElementById("btn-settings").addEventListener("click", function(e) {
        window.location = "{{ url_for('settings.index') }}"
    });

    document.getElementById("btn-race").addEventListener("click", function(e) {
        document.getElementById("race-dropdown").classList.toggle("dropdown-show");
    });
</script>
{% endblock scriptblock %}
