{% extends 'base.html' %}
{% from "driver/macros/macros.html" import driver_card with context %}


{% block header_mid %}
    <h1><i class="fas fa-users"></i></h1>
{% endblock header_mid %}


{% block header_right %}
    <button class="btn" id="btn-back">Back</a>
{% endblock header_right %}


{% block content %}
<div class="drivers-overview">
    {% for driver in drivers %}
        {{driver_card(driver)}}
    {% endfor %}
</div>

    <button class="btn" id="btn-add-driver"><i class="fas fa-user-plus"></i></button>
{% endblock content %}


{% block scriptblock %}
<script>
    document.getElementById("btn-back").addEventListener("click", function(e){
        window.location = "{{ url_for('settings.index') }}";
    });
    document.getElementById("btn-add-driver").addEventListener("click", function(e){
        window.location = "{{ url_for('driver.new_driver') }}";
    });
    var redirect_driver_profile = function(id) {
        window.location = window.location + "profile/" + id;
    };
</script>
{% endblock scriptblock %}